.body {
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}

.image {
  margin-left: 80px;
}
.paragraph {
  color: #525d73;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.14px;
}
.textpara {
  margin-left: 100px;
}

.featureimage {
  margin-top: 200px;
}
